<mat-card>
  <mat-card-content>
    <mat-spinner *ngIf="isLoading()"></mat-spinner>
    <form #loginForm="ngForm" (ngSubmit)="login()" *ngIf="(isLoggedIn$|async)===false">
      <h2>Log In</h2>
      <!-- <mat-error *ngIf="(loginError$|async)">
        The email and password were not recognized
      </mat-error> -->
      <mat-form-field>
        <input matInput
               placeholder="Email"
               [(ngModel)]="user.email"
               name="email"
               minlength="3"
               required>
        <mat-error>
          Email should be at least 3 charachters long
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               type="password"
               placeholder="Password"
               [(ngModel)]="user.password"
               name="password"
               required>
        <mat-error>
          Password is required
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      <div *ngIf="error">{{error}}</div>
    </form>
    <button mat-raised-button color="warn" (click)="logout()" *ngIf="(isLoggedIn$|async)">Logout</button>
    <div>{{(isLoggedIn$|async)|json}}</div>
    <p>Авторизация с помощью access, refresh-токенов и device ID для возможности отслеживания токенов на разных устройствах.</p>
    <p>Refresh-токен хранится в http-only куке, а access-токен - в хранилище приложения.</p>

  </mat-card-content>
</mat-card>
