<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="signup()">
      <h2>Sign up</h2>
      <!-- <mat-error *ngIf="(loginError$|async)">
        The username and password were not recognized
      </mat-error> -->
      <mat-form-field>
        <input matInput
               placeholder="Username"
               [(ngModel)]="user.username"
               name="username"
               minlength="3"
               required>
        <mat-error>
          Username should be at least 3 charachters long
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               type="password"
               placeholder="Password"
               [(ngModel)]="user.password"
               name="password"
               required>
        <mat-error>
          Password is required
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      <div>{{(isLoggedIn$|async)|json}}</div>
    </form>
  </mat-card-content>
</mat-card>
